.container
{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 100%;
    grid-column: 1 / -1;
    margin: 4em auto auto auto;
    font-size: 16px;
    color: #666;
}