.sortableTaskItem {
    position: relative;
    margin-bottom: 15px;
    cursor: grab;
}

.sortableTaskItem:active {
    cursor: grabbing;
}

.dragHandle {
    cursor: grab;
    display: inline-block;
    padding: 0 8px;
    font-size: 18px;
    color: #777;
    user-select: none;
}

.dragHandle:active {
    cursor: grabbing;
}